{% extends 'base.html.twig' %}

{% block title %}Rgpd{% endblock %}

{% block body %}
<div class="text-center m-auto">
    <h1>Réglement Générale sur la Protections des Données</h1>
    <p> <strong>Jet-Loisirs</strong> s'engage à protéger la confidentialité et la sécurité des données personnelles. Conformément au Règlement général sur la protection des données (RGPD) et aux autres lois applicables en matière de protection des données, nous avons élaboré cette politique de confidentialité pour expliquer comment nous collectons, utilisons et protégeons les données personnelles.

    Portée de cette politique de confidentialité
    Cette politique de confidentialité s'applique aux données personnelles collectées par <strong>Jet-Loisirs</strong> via nos sites Web, services et produits. Cela s'applique également aux données personnelles collectées par nos employés, sous-traitants et prestataires de services tiers qui traitent des données personnelles en notre nom.

    <h5>Définitions</h5>
    <p>
    Aux fins de la présente politique de confidentialité, les définitions suivantes s'appliquent :

    Données personnelles : toute information relative à une personne physique identifiée ou identifiable.
    Traitement : toute opération ou ensemble d'opérations effectuées sur des données personnelles ou sur des ensembles de données personnelles.
    Responsable du traitement : la personne physique ou morale, l'autorité publique, l'agence ou tout autre organisme qui, seul ou conjointement avec d'autres, détermine les finalités et les moyens du traitement des données à caractère personnel.
    Sous-traitant : une personne physique ou morale, une autorité publique, une agence ou un autre organisme qui traite des données à caractère personnel pour le compte du responsable du traitement.
    </p>

    <h5>Collecte et utilisation des données personnelles</h5>
    <p>
    Nous collectons des données personnelles aux fins suivantes :

    Fournir et améliorer nos produits et services
    Communiquer avec nos clients et répondre à leurs questions
    Commercialisation et promotion de nos produits et services
    Se conformer aux exigences légales et réglementaires
    </p>

</div>
{% endblock %}
