{% extends 'base.html.twig' %}

{% block title %}Jet-loisirs{% endblock %}

{% block body %}
<div class="imageHeader">
  <div id="textHeader">
    <h1>Jet Loisirs</h1>
    <h3>Bienvenue</h3>
  </div>
</div>

<section>
  <div class="container text-center mt-5 mb-4">
    <h3>Decouvrez l'ensemble de nos activités</h3>
  </div>
  <div class="container">
    <div class="row">
      {% for activity in activities %}
      <div class="col-6 mt-3">
        <div class="card mb-3 h-100" style="width: 35vw;">
          <img src="{{ asset('images/' ~ activity.picture) }}" style="height: 400px;" class="card-img-top w-100" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ activity.name }}</h5>
              <p class="card-text">{{ activity.description }}</p>
                <div class="text-end">
                  <a href="{{ path('app_reserver_planning', {'activity': activity.id}) }}" class="btn btn-primary">Reserver</a>
                </div>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


{% endblock %}
